body{
    display: grid;
    width: 100vw;
    height: auto;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.header{
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px 50px 10px 20px;
}
.header>div{
    display: flex;
    align-items: center;
}
.searchbar{
    grid-area: 1 / 1 / 2 / 3;
    column-gap: 10px;
}
.searchbar svg{
    fill: black;
    width: 1.5em;
    height: 1.5em;
}

.searchbar input{
    background-color: lightgray;
    border-radius: 50px;
    border: none;
    height: 1.5em;
    width: 100%;

}
.profile{
    grid-area: 1 / 3 / 2 / 4;
    justify-content: flex-end;
    column-gap: 10px;
}
.profile svg{
    fill: black;
    width: 1.5em;
    height: 1.5em;
}
.profie img{
    border-radius: 50%;
    margin-right: 10px;
}
.greetings{
    grid-area: 2 / 1 / 3 / 2;
}
.actions{
    grid-area: 2 / 3 / 3 / 4;
    gap: 20px;
    justify-content: flex-end;
}
.actions button{
    background-color:#1993d5;
    color:#ffffff;
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    height: 2rem;
    width: 5rem;
}

.sidebar{
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    height:100%;
    flex-direction: column;
    color: #ffffff;
    background-color: #1993d5;
    gap: 30px;
    padding: 0px 15px
}
.sidebar svg{
    fill: white;
    width: 2em;
    height: 2em;
}
.brand,
.navigation div,
.support div{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.navigation svg, .support svg{
    fill: white;
    width: 1.5em;
    height: 1.5em;
}

.main{
    grid-area: 2 / 2 / 6 / 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #e2e9f1;
    column-gap: 10px;
    row-gap: 50px;
    padding: 20px 20px 70px 10px;
}

.main .projects{
    grid-area: 1 / 1 / 5 / 5;
}

.project{
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.project>div{
    box-sizing: border-box;
    border-left: 7px solid #f1b529;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project>div div{
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.project>div svg{
    width: 1.5em;
    height: 1.5em;
}

.main .announcements{
    grid-area: 1 / 5 / 3 / 7;
    padding: 20px;
}
.announcements>div{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 89%;
}
.main .trending{
    grid-area: 3 / 5 / 5 / 7;
}
.trending>div{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 89%;
}
.trending>div>div{
    display:flex;
}
