body{
    display: grid;
    width: auto;
    height: auto;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 170px 1fr;
}

.header{
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px 60px 10px 30px;
    box-shadow: 20px 0px rgba(0,0,0,0.75);
}
.header>div{
    display: flex;
    align-items: center;
}
.header p{
    font-weight: bold;
    font-size: 1.2em;
}
.searchbar{
    grid-area: 1 / 1 / 2 / 3;
    column-gap: 10px;
}
.searchbar svg{
    fill: black;
    width: 2em;
    height: 2em;
}

.searchbar input{
    background-color: lightgray;
    border-radius: 50px;
    border: none;
    height: 2em;
    width: 100%;

}
.profile{
    grid-area: 1 / 3 / 2 / 4;
    justify-content: flex-end;
    column-gap: 15px;
}
.profile svg{
    fill: black;
    width: 1.5em;
    height: 1.5em;
}
.profile img{
    border-radius: 50%;
    height: 2em;
    width: 2em;
}

.greetings{
    grid-area: 
    2 / 1 / 3 / 2;
    column-gap: 15px
}

.greetings img{
    border-radius: 50%;
    height: 4em;
    width: 4em;
}

.greetings p{
    margin: 0.5em 0;
}

.actions{
    grid-area: 2 / 3 / 3 / 4;
    gap: 20px;
    justify-content: flex-end;
}

.actions button{
    background-color:#1993d5;
    color:#ffffff;
    text-align: center;
    border-radius: 50px;
    border: none;
    height: 2rem;
    width: 5rem;
}

.sidebar{
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    height:100%;
    flex-direction: column;
    color: #ffffff;
    background-color: #1993d5;
    gap: 30px;
    padding: 0px 20px
}
.sidebar svg{
    fill: white;
    width: 2em;
    height: 2em;
}
.brand,
.navigation div,
.support div{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.navigation svg, .support svg{
    fill: white;
    width: 1.5em;
    height: 1.5em;
}

.main{
    grid-area: 2 / 2 / 6 / 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #e2e9f1;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 30px 50px 30px;
}

.main .projects{
    grid-area: 1 / 1 / 5 / 5;
}

.project{
    height: 88%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.project>div{
    box-sizing: border-box;
    border-left: 7px solid #f1b529;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project h3, .project p{
    margin: 0.5em 0;
}

.action-btn{
    height: 100%;
    display: flex;
    justify-content: end;
    align-self: flex-end;
    column-gap: 20px;
}

.action-btn svg{
    width: 1.5em;
    height: 1.5em;
}

.action-btn button {
    border:none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
.main .announcements{
    grid-area: 1 / 5 / 3 / 7;
}
.announcements>div{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 25px;
    row-gap: 1em;
}
.announcements>div div{
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}
.announcements>div div:last-child{
    border-bottom: none;
}

.announcements h3, .announcements p{
    margin: 0.5em 0;
}
.main .trending{
    grid-area: 3 / 5 / 5 / 7;
}
.trending>div{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 25px;
    row-gap: 1em;
}
.trending h4, .trending p{
    margin: 0.5em 0;
}
.trending img{
    border-radius: 50%;
    height: 3em;
    width: 3em;
}
.trending>div>div{
    display:flex;
    column-gap:20px;
    align-items:  center;
}
